*{
    background-color: 99B080 ;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}
section {
    background-color: red;
    border:solid black
}

div{
    height: 50px;
    width: 50px;
    background-color: grey;
    border: 5px solid;
}
.circle{
    border-radius: 50%;
}

.flex-container {
    display: flex;
}

